html,
body {
  color-scheme: dark;
  scrollbar-color: dark;
  padding: 0px;
  margin: 0px;
}

#bg {
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
    url(../public/gradient-bg-2.jpeg);
  background-position: center center;
  background-size: cover;
}

@tailwind base;
@tailwind components;

@font-face {
  font-family: "Kross Neue Grotesk Light";
  src: url("../public/fonts/KrossNeueGrotesk-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Kross Neue Grotesk Book";
  src: url("../public/fonts/KrossNeueGrotesk-Book.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Kross Neue Grotesk Bold";
  src: url("../public/fonts/KrossNeueGrotesk-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Kross Neue Grotesk Heavy";
  src: url("../public/fonts/KrossNeueGrotesk-Heavy.ttf");
  font-weight: bolder;
}

@tailwind utilities;
