html,
body {
  color-scheme: dark;
  scrollbar-color: dark;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  perspective: 1px;
  transform-style: preserve-3d;
}

/* edit scrollbar on scroll_element */

body::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(188, 188, 188, 0.504); /* color of the scroll thumb */
  border-radius: 1px; /* roundness of the scroll thumb */
}

#bg {
  background: linear-gradient(rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.41)),
    url(../public/gradient-bg-2.jpeg);
  background-size: cover;
}

@tailwind base;
@tailwind components;

@font-face {
  font-family: "Kross Neue Grotesk Book";
  src: url("../public/fonts/KrossNeueGrotesk-Book.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Kross Neue Grotesk Bold";
  src: url("../public/fonts/KrossNeueGrotesk-Bold.ttf");
  font-weight: bold;
}

@tailwind utilities;
