html,
body {
  color-scheme: dark;
  scrollbar-color: dark;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  background-image: url(../public/gradient-bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@tailwind base;
@tailwind components;

@font-face {
  font-family: "Kross Neue Grotesk Light";
  src: url("../public/fonts/KrossNeueGrotesk-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Kross Neue Grotesk Book";
  src: url("../public/fonts/KrossNeueGrotesk-Book.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Kross Neue Grotesk Bold";
  src: url("../public/fonts/KrossNeueGrotesk-Bold.ttf");
  font-weight: bold;
}

@tailwind utilities;
